<!DOCTYPE html>
<html>
<head>
   <title>Tareas</title>
</head>
<body>
   <form action="/tasks" method="POST">
      <textarea name="description" placeholder="coloca aquí el pendiente a realizar"></textarea>
      <input type="submit" value="guardar">
   </form>
</body>
</html>
